@import "bootstrap";

@font-face {
    font-family: "Oswald";
    src: url("../fonts/Oswald.ttf");
}

/* Set styles for the body */
* {
    font-family: "Oswald", sans-serif;
}

h1, h2, h3, h4, h5, label {
    /*font-weight: bold;*/
    /*color: #3E7C23;*/
}

p {
    font-size: 14pt;
}

h1 {
    color: #51A230;
}

input {
    /*border-radius: 20px;*/
    /*border-color: #20007B;*/
}

input:focus {
    /*border-color: #316BFF;*/
}

.mtrem-10 {
    margin-top: 10rem;
}


