@font-face {
    font-family: "Montserrat Alternates";
    src: url("../fonts/Montserrat Alternates/MontserratAlternates-Regular.ttf");
}

/* Set styles for the body */
* {
    font-family: "Montserrat Alternates", sans-serif;
}

h1 {
    font-weight: bold;
    color: #20007B;
}

h2 {
    font-weight: bold;
    color: #20007B;
}

p {
    color: #316BFF;
}


